.dropzone {
 display: flex;
 height: 272px;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-align: center;
 background-color: var(--grey-50);
 border-radius: 16px;
 border: 2px dashed var(--grey-500, #7c929b);
 padding: 20px;
}

.btn-dark {
 background-color: #000;
 color: #fff;
 padding: 10px 20px;
 border-radius: 5px;
 cursor: pointer;
}

p {
 margin-top: 10px;
 color: #555;
}

h2 {
 font-size: 20px;
 font-weight: 700;
}

.file-details {
 padding: 8px;
 border-radius: 8px;
 border: 1px solid var(--grey-300, #cfd9dd);
 background: var(--grey-200, #eaecee);
}

.choose-file-button {
 width: 150px;
 padding: 4px 32px;
 justify-content: center;
 align-items: center;
}
